 #include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;
};

/ {
    combos {
        compatible = "zmk,combos";

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                         &kp Y  &kp U  &lt 5 I   &kp O  &kp P
&kp A  &kp S  &kp D  &kp F  &kp G  &mkp MB3   &kp MINUS   &kp H  &kp J  &kp K   &kp L  &mt RSFT COLON
&mt LSFT Z  &kp X  &kp C  &kp V  &kp B  &kp LANG2  &kp AT  &kp N  &kp M  &mt RCTRL COMMA  &kp DOT  &mt RSFT SLASH
&kp LCTRL  &kp LALT  &kp LGUI  &none  &lt 5 SPACE  &mkp MB1  &kp BSPC  &kp ENTER            &kp PSCRN
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        NUM {
            bindings = <
&trans  &kp N1  &trans  &trans  &trans                       &trans  &kp F7   &kp UP    &kp F8   &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &kp LEFT &kp DOWN &kp RIGHT &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans     &kp AT  &kp LPAR &kp RPAR &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans     &kp DEL    &trans                        &trans
            >;
        };

        ARROW {
            bindings = <
&kp ESC  &kp LC(LS(TAB))  &kp UP    &kp LC(TAB)        &trans                 &trans &trans &trans &trans &trans
&kp HOME &kp LEFT         &kp DOWN  &kp RIGHT          &kp END  &trans        &trans &trans &trans &trans &trans &trans
&kp LSFT &kp LG(LS(LEFT)) &trans    &kp LG(LS(RIGHT))  &trans   &trans        &trans &trans &trans &trans &trans &trans
&trans   &trans           &trans    &trans              &trans   &trans        &trans &trans                     &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PG_UP) LC(PG_DN)>;
        };
    };
};
